[data-slide] {
	opacity: 0;

	&.active {
		z-index: 1;
		opacity: 1;
	}

	.buttons__wrapper {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-grow: 1;

		padding-top: var(--distance-30);
		@include desktop { padding-top: var(--distance-100); }

		width: 100%; 

		.ui__button {
			margin: 0 9px 0 0;

			&:nth-child(2) {
				margin: 0 0 0 9px;
			}
		}
	}
}

[data-slide]:not([data-slide="initialSlide"]) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 500px;
	height: auto;

	overflow-y: auto;

	padding: var(--distance-20);

	@include desktop {
		padding: var(--distance-40);
	}
}

[data-slide="initialSlide"] {

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black-alpha);
	width: 100%;

	.content {
		width: auto;

		border: var(--panels-border);

		@include desktop {	min-width: 600px; }

		height: auto;
		border-radius: 5px;

		padding: var(--distance-60);
		@include desktop { padding: var(--distance-60); }
	}

	.center-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.buttons__wrapper {
		padding: var(--distance-100) 0 0;
	}
}

[data-slide="introSlide"],
[data-slide="funFactSlide"],
[data-slide="defaultSlide"] {

	top: unset;
	bottom: 0;
	height: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
 
	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		justify-content: flex-end;

		h3 {
			@include bold-1;

			margin-bottom: var(--distance-5);
		}

		h4 {
			@include bold-3;
		}

		p {
			margin-top: var(--distance-40);
			
			@include light-2;
		}
	}

}
[data-slide="introSlide"],
[data-slide="funFactSlide"] {
	background-color: var(--teal-2);

	.icon {
		width: 65px;
		height: 65px;

		border-radius: 100%;
		background-color: var(--white-0);
	}

	.thumb {
		width: 120px;
		height: 120px;

		background-position: center;
		background-size: cover;

		border-radius: 100%;
	}

	.media {
		flex-grow: 2;
		display: flex;
		align-items: flex-end;
		width: 100%;
		justify-content: center;
		padding: 0 0 var(--distance-20);
	}

}

[data-slide="funFactSlide"] {
	.icon {
		background-color: transparent;
		color: var(--white-0);
	}
	.media {
		justify-content: flex-start;
	}
}

[data-slide="defaultSlide"] {
	background-color: rgba(0,0,0,0.5);
	
	@include desktop {
		border-radius: 0 5px 0 0;
		border-top: var(--panels-border);
		border-right: var(--panels-border);
	}
}