---
layout: base
pageTemplate: orbit-viewer
eleventyComputed:
  title: "{{ orbitViewer[lang].seoTitle }}"
  description: "{{ orbitViewer[lang].seoDescription }}"
  image: "{{ orbitViewer[lang].seoImage }}"
---
{% include "pages/orbit-viewer.njk" %}
