.tours-list {
	width: 100%;

	display: flex;

	padding: var(--distance-30);

	@include device {
		border-bottom: 1px solid var(--white-2);
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	@include desktop {
		// flex-direction: row;
		// overflow-x: auto;
		// flex-grow: 3;
		// align-items: center;
		// justify-content: space-around;
		width: max-content;

	}


	a {
		width: 100%;
		padding: 0 0 var(--distance-30);
		max-width: 400px;
		flex-grow: 0;
		flex-shrink: 0;

		@include device {
			&:last-of-type {
				padding-bottom: 0;
			}
		}

	}
}

.tours-list-wrapper {
	width: 100%;
	@include desktop {
		overflow-x: auto;
		padding: 0 var(--distance-30);
	}
}


// Sorts
.tours-list {

	&[sort="new"]{
		a {
			order: var(--date);
		}
	}

	&[sort="old"]{
		@include device {
			flex-direction: column-reverse;
		}
		@include desktop {
			flex-direction: row-reverse;
		}
		a {
			order: var(--date);
		}
	}

	&[sort="less-duration"]{
		a {
			order: var(--duration);
		}
	}

	&[sort="more-duration"]{

		@include device {
			flex-direction: column-reverse;
		}
		@include desktop {
			flex-direction: row-reverse;
		}
		a {
			order: var(--duration);
		}
	}

	&[sort="less-complexity"]{
		a {
			order: var(--complexity);
		}
	}

	&[sort="more-complexity"]{
		@include device {
			flex-direction: column-reverse;
		}
		@include desktop {
			flex-direction: row-reverse;
		}
		a {
			order: var(--complexity);
		}

	}

}