
.popups-wrapper {
	z-index: $css2DIndex;

	&.popups-infos {
		z-index: #{$css2DIndex + 1};
	}

	overflow: hidden;
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
		
	pointer-events: none;
	
	.popups-close {
		@extend .back-button;
		transition: opacity 0.5s ease-in-out;
		opacity: 0;
		
		&, * {
			pointer-events: none;
		}
	}
}
// TIMES TOP RIGHT
.popups-selected .popups-close {
	transition-delay: 4s;
	transition-duration: 1s;
	opacity: 1;

	&,
	* {
		pointer-events: all;
	}
}
// .popups-no-closeup .popups-wrapper.popups-labels .popup-label.selected {
// 	.icon-text p {
// 		opacity: 0;
// 	}
// }

// .customize-labels-fast-transition.page__orbit-viewer .popups-wrapper {
// 	transition-delay: 0s;
// }

// .customize-labels-hidden.page__orbit-viewer .popups-wrapper {
// 	opacity: 0;
// 	&, * {
// 		pointer-events: none;
// 	}
// }


// .page__orbit-viewer .popups-wrapper {
// 	opacity: 1;
// 	transition-delay: 1.5s;
// }

// .popups-wrapper.popups-labels.hidden {
// 	transition-delay: 0s;
// 	opacity: 0;

// 	&, * {
// 		pointer-events: none;
// 	}
// }

// .page__guided-experiences-tours .popups-wrapper.popups-labels {
// 	&, * {
// 		transition-delay: 0s;
// 		transition-duration: 0s;
// 		pointer-events: none;
// 	}
// }


// .popups-no-closeup .popups-wrapper.popups-labels .popup-label:not(.selected) {
// 	transition-delay: 0s;
// 	opacity: 0 !important;

// 	&, * {
// 		pointer-events: none;
// 	}
// }