{% from 'ui/filter.njk' import filter as filter %}

<div class="back-button navigation-item">
  <a href="{{ '/' + lang + '/' | url }}">
    {# {% include "ui/icons/arrow-prev.njk" %} #}
    {% include "ui/icons/times.njk" %}
  </a>
</div>


<div class="page-content" data-animation-type="slide">

  <div class="text">
    <h2>{{ customizeOrbits[lang].customizeOrbitsTitle }}</h2>
    <p>{{ customizeOrbits[lang].customizeOrbitsDescription }}</p>
  </div>

  {{ filter(categories[lang]) }}

  <div class="buttons__wrapper">

    <a data-button="filters-apply" href="{{ '/' + lang + '/orbit-viewer' | url }}" class="ui__button">
      <p>{{ generic[lang]['strings']['customize-orbits'] }}</p>
    </a>

  </div>

</div>